@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* animate */
  @keyframes rotateLeftRight {
    0% {
      transform: rotate(00deg);
    }
    50% {
      transform: rotate(-30deg);
    }
  }
  .animate-move {
    animation: rotateLeftRight 1s infinite steps(1);
  }
}
